---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2beta2.json
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: teslamate
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.1.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  dependsOn:
    - name: mosquitto
      namespace: home
  values:
    controllers:
      teslamate:
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          init-db:
            image:
              repository: ghcr.io/onedr0p/postgres-init
              tag: 16
            envFrom: &envFrom
              - secretRef:
                  name: teslamate-secret
        containers:
          app:
            env:
              CHECK_ORIGIN: true
              DATABASE_HOST: postgres16-rw.database.svc.cluster.local
              MQTT_HOST: &mqttHost mosquitto.home.svc.cluster.local
              PORT: &port 80
              TZ: &TZ America/Los_Angeles
              VIRTUAL_HOST: "{{ .Release.Name }}.perryhuynh.com"
            envFrom: *envFrom
            image:
              repository: docker.io/teslamate/teslamate
              tag: 1.28.5@sha256:aa3f37ecccc7ea77fa1e259391c8f2a05533e208228a42ebb4dbe560828db057
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            resources:
              limits:
                memory: 512Mi
              requests:
                cpu: 25m
            securityContext:
              allowPrivilegeEscalation: false
              capabilities: { drop: ["ALL"] }
          api:
            env:
              DATABASE_HOST: postgres16-ro.database.svc.cluster.local
              ENABLE_COMMANDS: "false"
              COMMANDS_ALL: "false"
              MQTT_HOST: *mqttHost
              TZ: *TZ
              TESLAMATE_HOST: &host "{{ .Release.Name }}.perryhuynh.com"
            envFrom: *envFrom
            image:
              repository: ghcr.io/tobiasehlert/teslamateapi
              tag: 1.17.2@sha256:a350b7a8ae6c2ce553392e57f56731dcc840c64ec3f8b7f6ccd0a6e013594276
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api/ping
                    port: &apiPort 8080
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            resources:
              limits:
                memory: 256Mi
              requests:
                cpu: 10m
            securityContext:
              allowPrivilegeEscalation: false
        pod:
          automountServiceAccountToken: false
          securityContext:
            runAsGroup: 10001
            runAsNonRoot: true
            runAsUser: 10000
            seccompProfile: { type: RuntimeDefault }
    ingress:
      nginx:
        enabled: true
        className: internal
        hosts:
          - host: *host
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
              - path: /api
                service:
                  identifier: app
                  port: api
        tls:
          - hosts:
              - *host
    service:
      app:
        controller: teslamate
        ports:
          http:
            port: *port
            primary: true
          api:
            port: *apiPort
