---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2beta2.json
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: cross-seed
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.1.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  dependsOn:
    - name: qbittorrent
      namespace: downloads
  values:
    controllers:
      cross-seed:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            args: ["daemon"]
            image:
              repository: ghcr.io/cross-seed/cross-seed
              tag: 6.0.0-0@sha256:ae6da5e53ef2b279520d9b98ecdcea209475b703f7e15d972ec193053c000c45
            env:
              TZ: America/Los_Angeles
            envFrom:
              - secretRef:
                  name: cross-seed-secret
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
            resources:
              limits:
                memory: 512Mi
              requests:
                cpu: 15m
            securityContext:
              allowPrivilegeEscalation: false
              capabilities: { drop: ["ALL"] }
              readOnlyRootFilesystem: true
        pod:
          affinity:
            podAffinity:
              requiredDuringSchedulingIgnoredDuringExecution:
                - labelSelector:
                    matchExpressions:
                      - key: app.kubernetes.io/name
                        operator: In
                        values: ["qbittorrent"]
                  topologyKey: kubernetes.io/hostname
          automountServiceAccountToken: false
          securityContext:
            fsGroup: 568
            fsGroupChangePolicy: OnRootMismatch
            runAsGroup: 568
            runAsNonRoot: true
            runAsUser: 568
            seccompProfile: { type: RuntimeDefault }
            supplementalGroups: [65532]
    persistence:
      config:
        type: emptyDir
      config-file:
        type: secret
        name: cross-seed-secret
        globalMounts:
          - path: /config/config.js
            subPath: config.js
            readOnly: true
      qbittorrent:
        existingClaim: qbittorrent
        globalMounts:
          - path: /qbittorrent/qBittorrent/BT_backup
            subPath: qBittorrent/BT_backup
            readOnly: true
      downloads:
        type: nfs
        path: /mnt/tank/media
        server: ${SECRET_NAS_IP:=temp}
        globalMounts:
          - path: /downloads
            subPath: downloads/torrents
    service:
      app:
        controller: cross-seed
        ports:
          http:
            port: 80
