---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app glauth
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.4.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      glauth:
        replicas: 2
        strategy: RollingUpdate
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: docker.io/glauth/glauth
              tag: v2.3.2@sha256:1656842d8d202cdb53de9eb753963a66a49eb6a180e8ade0602548e64b4f6877
            command: ["/app/glauth", "-c", "/config"]
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: &port 5555
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: true
            resources:
              limits:
                memory: 128Mi
              requests:
                cpu: 10m
            securityContext:
              allowPrivilegeEscalation: false
              capabilities: { drop: ["ALL"] }
              readOnlyRootFilesystem: true
        pod:
          automountServiceAccountToken: false
          securityContext:
            runAsUser: 65534
            runAsGroup: 65534
            runAsNonRoot: true
            seccompProfile: { type: RuntimeDefault }
          topologySpreadConstraints:
            - maxSkew: 1
              topologyKey: kubernetes.io/hostname
              whenUnsatisfiable: DoNotSchedule
              labelSelector:
                matchLabels:
                  app.kubernetes.io/name: *app
    persistence:
      config:
        type: secret
        name: glauth-secret
        globalMounts:
          - path: /config/groups.toml
            subPath: groups.toml
            readOnly: true
          - path: /config/server.toml
            subPath: server.toml
            readOnly: true
          - path: /config/users.toml
            subPath: users.toml
            readOnly: true
    service:
      app:
        controller: *app
        ports:
          http:
            port: *port
          ldap:
            port: 389
    serviceMonitor:
      app:
        serviceName: *app
        endpoints:
          - port: metrics
            scheme: http
            path: /metrics
            interval: 1m
            scrapeTimeout: 10s
