---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app glauth
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: glauth
  values:
    controllers:
      glauth:
        replicas: 2
        strategy: RollingUpdate
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: docker.io/glauth/glauth
              tag: v2.4.0@sha256:b3efd79fc32ac626ad1b18e36ab42fac2e2ac662454582fdfa21cc82efab786b
            command:
              - "/app/glauth"
              - "-c"
              - "/config"
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: &port 5555
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: true
            resources:
              limits:
                memory: 128Mi
              requests:
                cpu: 10m
            securityContext:
              allowPrivilegeEscalation: false
              capabilities: {drop: ["ALL"]}
              readOnlyRootFilesystem: true
        pod:
          automountServiceAccountToken: false
          securityContext:
            runAsUser: 65534
            runAsGroup: 65534
            runAsNonRoot: true
            seccompProfile: {type: RuntimeDefault}
          topologySpreadConstraints:
            - maxSkew: 1
              topologyKey: kubernetes.io/hostname
              whenUnsatisfiable: DoNotSchedule
              labelSelector:
                matchLabels:
                  app.kubernetes.io/name: *app
    persistence:
      config:
        type: secret
        name: glauth-secret
        globalMounts:
          - path: /config/groups.toml
            subPath: groups.toml
            readOnly: true
          - path: /config/server.toml
            subPath: server.toml
            readOnly: true
          - path: /config/users.toml
            subPath: users.toml
            readOnly: true
    service:
      app:
        ports:
          http:
            port: *port
          ldap:
            port: 389
    serviceMonitor:
      app:
        endpoints:
          - port: http
            scheme: http
            path: /metrics
            interval: 1m
            scrapeTimeout: 10s
