---
# yaml-language-server: $schema=https://kubernetes-schemas.perry.cafe/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kube-prometheus-stack
spec:
  interval: 1h
  timeout: 15m
  chartRef:
    kind: OCIRepository
    name: kube-prometheus-stack
  values:
    cleanPrometheusOperatorObjectNames: true
    alertmanager:
      route:
        main:
          enabled: true
          hostnames:
            - alertmanager.perryhuynh.com
          parentRefs:
            - name: envoy-internal
              namespace: networking
              sectionName: https
      alertmanagerSpec:
        alertmanagerConfiguration:
          name: alertmanager
        externalUrl: https://alertmanager.perryhuynh.com
        resources:
          limits:
            memory: 256Mi
          requests:
            cpu: 10m
        storage:
          volumeClaimTemplate:
            spec:
              storageClassName: ceph-block
              resources:
                requests:
                  storage: 1Gi
    grafana:
      enabled: false
      forceDeployDashboards: true
    kubeEtcd:
      service:
        selector:
          component: kube-apiserver # etcd runs on control plane nodes
    kubeProxy:
      enabled: false
    kubeScheduler:
      enabled: false
    kube-state-metrics:
      fullnameOverride: kube-state-metrics
    prometheusOperator:
      resources:
        limits:
          memory: 128Mi
        requests:
          cpu: 10m
      prometheusConfigReloader:
        resources:
          limits:
            memory: 32Mi
          requests:
            cpu: 10m
    prometheus:
      route:
        main:
          enabled: true
          hostnames:
            - "prometheus.perryhuynh.com"
          parentRefs:
            - name: envoy-internal
              namespace: networking
              sectionName: https
      prometheusSpec:
        externalUrl: https://prometheus.perryhuynh.com
        version: v2.55.1 # override 'unsupported Prometheus version' error
        image:
          registry: docker.io
          repository: prompp/prompp
          tag: 0.7.1
        securityContext:
          runAsNonRoot: true
          runAsUser: 64535
          runAsGroup: 64535
          fsGroup: 64535
        podMonitorSelectorNilUsesHelmValues: false
        probeSelectorNilUsesHelmValues: false
        ruleSelectorNilUsesHelmValues: false
        scrapeConfigSelectorNilUsesHelmValues: false
        serviceMonitorSelectorNilUsesHelmValues: false
        resources:
          limits:
            memory: 2Gi
          requests:
            cpu: 100m
        retention: 90d
        retentionSize: 100GB
        storageSpec:
          volumeClaimTemplate:
            spec:
              storageClassName: ceph-block
              resources:
                requests:
                  storage: 125Gi
    prometheus-node-exporter:
      fullnameOverride: node-exporter
  postRenderers:
    - kustomize:
        patches:
          - target:
              version: v1
              kind: ConfigMap
              labelSelector: grafana_dashboard in (1)
            patch: |-
              apiVersion: v1
              kind: ConfigMap
              metadata:
                name: not-used
                namespace: not-used
                annotations:
                  grafana_folder: observability
