---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: autobrr-secret
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    deletionPolicy: Delete
    template:
      engineVersion: v2
      data:
        AUTOBRR__POSTGRES_DATABASE: &dbName autobrr
        AUTOBRR__POSTGRES_HOST: &dbHost postgres16-rw.database.svc.cluster.local
        AUTOBRR__POSTGRES_USER: &dbUser "{{ .AUTOBRR_POSTGRES_USER }}"
        AUTOBRR__POSTGRES_PASS: &dbPass "{{ .AUTOBRR_POSTGRES_PASS }}"
        AUTOBRR__POSTGRES_PORT: "5432"
        INIT_POSTGRES_DBNAME: *dbName
        INIT_POSTGRES_HOST: *dbHost
        INIT_POSTGRES_USER: *dbUser
        INIT_POSTGRES_PASS: *dbPass
        INIT_POSTGRES_SUPER_PASS: "{{ .POSTGRES_SUPER_PASS }}"
        # oidc
        AUTOBRR__OIDC_ENABLED: "true"
        AUTOBRR__OIDC_ISSUER: "https://auth.perryhuynh.com"
        AUTOBRR__OIDC_CLIENT_ID: "autobrr"
        AUTOBRR__OIDC_CLIENT_SECRET: "{{ .AUTOBRR_OAUTH_CLIENT_SECRET_HASHED }}"
        AUTOBRR__OIDC_REDIRECT_URL: "https://autobrr.perryhuynh.com/oauth2/oidc/callback"
  dataFrom:
    - extract:
        key: autobrr
    - extract:
        key: cloudnative-pg
