---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./namespace.yaml
  - ./media-browser/ks.yaml
  - ./overseerr/ks.yaml
  # - ./plex/ks.yaml
  - ./tachidesk/ks.yaml
  - ./tautulli/ks.yaml
