---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app home-assistant
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: home-assistant
  values:
    controllers:
      home-assistant:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/home-operations/home-assistant
              tag: 2025.12.4@sha256:c1743f2ed4c2cac05693525d477b73fb45386100660f3f1d6ac23b1720f48023
            env:
              TZ: &TZ America/Los_Angeles
              SERVER_HOST:
                valueFrom:
                  fieldRef:
                    fieldPath: status.podIP
            resources:
              limits:
                memory: 1Gi
              requests:
                cpu: 10m
            securityContext:
              allowPrivilegeEscalation: false
              capabilities:
                drop:
                  - "ALL"
              readOnlyRootFilesystem: true
          code-server:
            image:
              repository: ghcr.io/coder/code-server
              tag: 4.107.0@sha256:4b622c4cd1b0f559fec0df67fcf09042d63e9ce84c575102066afd9511695627
            env:
              TZ: *TZ
            args:
              - --auth
              - none
              - --disable-telemetry
              - --disable-update-check
              - --user-data-dir
              - /data/user-data
              - --extensions-dir
              - /data/extensions
              - --port
              - "12321"
              - /config
            resources:
              limits:
                memory: 1Gi
              requests:
                cpu: 10m
    defaultPodOptions:
      annotations:
        k8s.v1.cni.cncf.io/networks: |
          [{
            "name": "home",
            "namespace": "networking",
            "interface": "eth1",
            "ips": ["192.168.1.31/24"],
            "mac": "02:7f:5c:50:6c:fe"
          }]
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: kubernetes.io/hostname
                    operator: NotIn
                    values:
                      - wizone
      automountServiceAccountToken: false
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    persistence:
      config:
        existingClaim: home-assistant
      cache:
        existingClaim: home-assistant-cache
        globalMounts:
          - path: /config/.venv
      tmpfs:
        type: emptyDir
        globalMounts:
          - path: /config/logs
            subPath: logs
          - path: /tmp
            subPath: tmp
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.perryhuynh.com"
        parentRefs:
          - name: envoy-external
            namespace: networking
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: 8123
      code:
        hostnames:
          - "{{ .Release.Name }}-code.perryhuynh.com"
        parentRefs:
          - name: envoy-internal
            namespace: networking
            sectionName: https
        rules:
          - backendRefs:
              - identifier: code-server
                port: 12321
    service:
      app:
        ports:
          http:
            port: 8123
      code-server:
        ports:
          code-server:
            port: 12321
      expose:
        type: LoadBalancer
        annotations:
          "io.cilium/lb-ipam-ips": "192.168.1.31"
        ports:
          homekit:
            portRange:
              start: 21061
              end: 21069
