---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: qbittorrent-tools
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.4.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  dependsOn:
    - name: qbittorrent
      namespace: downloads
  values:
    controllers:
      tagging:
        type: cronjob
        cronjob: &cronJobSpec
          schedule: "@hourly"
          timeZone: &timeZone America/Los_Angeles
          concurrencyPolicy: Forbid
          successfulJobsHistory: 1
          failedJobsHistory: 1
        initContainers:
          tagging: &container
            args: [
              "tagging",
              "--added-on",
              "--expired",
              "--last-activity",
              "--not-working",
              "--sites",
              "--unregistered",
              "--server", "qbittorrent.$(POD_NAMESPACE).svc.cluster.local",
              "--port", "80",
              "--config", "/config/config.yaml"
            ]
            env:
              TZ: *timeZone
              POD_NAMESPACE:
                valueFrom:
                  fieldRef:
                    fieldPath: metadata.namespace
            image:
              repository: ghcr.io/buroa/qbtools
              tag: v0.16.5@sha256:564ef3f7e9730ba898155051475c1af2c2dea8d76ca598a461dcc85dbbb2fe7e
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 256Mi
            securityContext:
              allowPrivilegeEscalation: false
              capabilities: { drop: ["ALL"] }
              readOnlyRootFilesystem: true
        containers:
          unregistered:
            <<: *container
            args: [
              "prune",
              "--exclude-category", "lidarr",
              "--exclude-category", "manual",
              "--include-tag", "unregistered",
              # "--dry-run",
              "--server", "qbittorrent.$(POD_NAMESPACE).svc.cluster.local",
              "--port", "80"
            ]
          auto-prune:
            <<: *container
            args: [
              "prune",
              # "--dry-run",
              "--include-tag", "auto-prune",
              "--include-tag", "expired",
              "--server", "qbittorrent.$(POD_NAMESPACE).svc.cluster.local",
              "--port", "80"
            ]
      orphaned:
        type: cronjob
        cronjob:
          <<: *cronJobSpec
          schedule: "@daily"
        containers:
          app:
            <<: *container
            args: [
              "orphaned",
              "--exclude-pattern",  "*/incomplete/*",
              "--exclude-pattern",  "*/manual/*",
              # "--dry-run",
              "--server", "qbittorrent.downloads.svc.cluster.local",
              "--port", "80"
            ]
      reannounce:
        containers:
          app:
            <<: *container
            args: [
              "reannounce",
              "--server", "qbittorrent.$(POD_NAMESPACE).svc.cluster.local",
              "--port", "80"
            ]
    defaultPodOptions:
      automountServiceAccountToken: false
      securityContext:
        runAsNonRoot: true
        runAsUser: 568
        runAsGroup: 568
        seccompProfile: { type: RuntimeDefault }
    persistence:
      secret-file:
        type: secret
        name: qbittorrent-tools-secret
        advancedMounts:
          tagging:
            tagging:
              - path: /config/config.yaml
                subPath: config.yaml
                readOnly: true
      downloads:
        type: nfs
        path: /mnt/tank/media
        server: ${SECRET_NAS_IP:=temp}
        advancedMounts:
          orphaned:
            app:
              - path: /downloads
                subPath: downloads/torrents
