---
# yaml-language-server: $schema=https://kubernetes-schemas.perry.cafe/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app jellyseerr
  namespace: &namespace media
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  components:
    - ../../../../components/gatus/external
    - ../../../../components/keda/nfs-scaler
    - ../../../../components/volsync
  dependsOn:
    - name: keda
      namespace: observability
    - name: rook-ceph-cluster
      namespace: rook-ceph
    - name: plex
      namespace: media
    - name: qbittorrent
      namespace: media
    - name: radarr
      namespace: media
    - name: sonarr
      namespace: media
    - name: volsync
      namespace: volsync-system
  interval: 1h
  path: ./kubernetes/apps/media/jellyseerr/app
  postBuild:
    substitute:
      APP: *app
      GATUS_SUBDOMAIN: canyouadd
      GATUS_PATH: /api/v1/status
      VOLSYNC_CAPACITY: 1Gi
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: *namespace
  wait: true
