---
# yaml-language-server: $schema=https://kubernetes-schemas.perry.cafe/volsync.backube/replicationsource_v1alpha1.json
apiVersion: volsync.backube/v1alpha1
kind: ReplicationSource
metadata:
  name: "${APP}"
spec:
  sourcePVC: "${APP}"
  trigger:
    schedule: "${VOLSYNC_SCHEDULE:-0 * * * *}"
  restic:
    repository: "${APP}-volsync-secret"
    copyMethod: "${VOLSYNC_COPYMETHOD:-Snapshot}"
    pruneIntervalDays: 7
    volumeSnapshotClassName: "${VOLSYNC_SNAPSHOTCLASS:-csi-ceph-blockpool}"
    cacheAccessModes:
      - "${VOLSYNC_CACHE_ACCESSMODES:-ReadWriteOnce}"
    cacheCapacity: "${VOLSYNC_CAPACITY:-5Gi}"
    cacheStorageClassName: "${VOLSYNC_CACHE_SNAPSHOTCLASS:-openebs-hostpath}"
    accessModes:
      - "${VOLSYNC_SNAP_ACCESSMODES:-ReadWriteOnce}"
    storageClassName: "${VOLSYNC_STORAGECLASS:-ceph-block}"
    moverSecurityContext:
      runAsUser: ${VOLSYNC_PUID:-1000}
      runAsGroup: ${VOLSYNC_PGID:-1000}
      fsGroup: ${VOLSYNC_PGID:-1000}
      fsGroupChangePolicy: "OnRootMismatch"
    retain:
      hourly: ${VOLSYNC_RETAIN_HOURLY:-24}
      daily: ${VOLSYNC_RETAIN_DAILY:-7}
