---
# yaml-language-server: $schema=https://kubernetes-schemas.perry.cafe/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: authelia-secret
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    deletionPolicy: Delete
    template:
      engineVersion: v2
      data:
        # Authelia Specific
        AUTHELIA_AUTHENTICATION_BACKEND_LDAP_PASSWORD: "{{ .glauth_search_password }}"
        AUTHELIA_IDENTITY_PROVIDERS_OIDC_HMAC_SECRET: "{{ .authelia_identity_providers_oidc_hmac_secret }}"
        AUTHELIA_IDENTITY_PROVIDERS_OIDC_JWKS: "{{ .authelia_identity_providers_oidc_issuer_private_key }}"
        AUTHELIA_IDENTITY_VALIDATION_RESET_PASSWORD_JWT_SECRET: "{{ .authelia_jwt_secret }}"
        AUTHELIA_SESSION_SECRET: "{{ .authelia_session_secret }}"
        AUTHELIA_STORAGE_ENCRYPTION_KEY: "{{ .authelia_storage_encryption_key }}"
        # Database
        AUTHELIA_STORAGE_POSTGRES_DATABASE: &dbName authelia
        AUTHELIA_STORAGE_POSTGRES_ADDRESS: &dbHost postgres17-rw.database.svc.cluster.local
        AUTHELIA_STORAGE_POSTGRES_USERNAME: &dbUser "{{ .authelia_postgres_user }}"
        AUTHELIA_STORAGE_POSTGRES_PASSWORD: &dbPass "{{ .authelia_postgres_pass }}"
        INIT_POSTGRES_DBNAME: *dbName
        INIT_POSTGRES_HOST: *dbHost
        INIT_POSTGRES_USER: *dbUser
        INIT_POSTGRES_PASS: *dbPass
        INIT_POSTGRES_SUPER_PASS: "{{ .cnpg_postgres_super_pass }}"
        # Other Apps
        ACTUAL_OAUTH_CLIENT_ID: "{{ .actual_oauth_client_id }}"
        ACTUAL_OAUTH_CLIENT_SECRET: "{{ .actual_oauth_client_secret_hashed }}"
        AUTOBRR_OAUTH_CLIENT_ID: "{{ .autobrr_oauth_client_id }}"
        AUTOBRR_OAUTH_CLIENT_SECRET: "{{ .autobrr_oauth_client_secret_hashed }}"
        GRAFANA_OAUTH_CLIENT_ID: "{{ .grafana_oauth_client_id }}"
        GRAFANA_OAUTH_CLIENT_SECRET: "{{ .grafana_oauth_client_secret_hashed }}"
        PAPERLESS_OAUTH_CLIENT_ID: "{{ .paperless_oauth_client_id }}"
        PAPERLESS_OAUTH_CLIENT_SECRET: "{{ .paperless_oauth_client_secret_hashed }}"
  dataFrom:
    - extract:
        key: actual
      rewrite:
        - regexp:
            source: "(.*)"
            target: "actual_$1"
    - extract:
        key: authelia
      rewrite:
        - regexp:
            source: "(.*)"
            target: "authelia_$1"
    - extract:
        key: cloudnative-pg
      rewrite:
        - regexp:
            source: "(.*)"
            target: "cnpg_$1"
    - extract:
        key: autobrr
      rewrite:
        - regexp:
            source: "(.*)"
            target: "autobrr_$1"
    - extract:
        key: glauth
      rewrite:
        - regexp:
            source: "(.*)"
            target: "glauth_$1"
    - extract:
        key: grafana
      rewrite:
        - regexp:
            source: "(.*)"
            target: "grafana_$1"
    - extract:
        key: paperless
      rewrite:
        - regexp:
            source: "(.*)"
            target: "paperless_$1"
