---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app authelia
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: authelia
  values:
    controllers:
      authelia:
        replicas: 2
        strategy: RollingUpdate
        annotations:
          reloader.stakater.com/auto: "true"
        defaultContainerOptionsStrategy: merge
        defaultContainerOptions:
          envFrom:
            - secretRef:
                name: authelia-secret
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - "ALL"
            readOnlyRootFilesystem: true
        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 17.6.0@sha256:86a1992d46273c58fd4ad95b626081dfaabfe16bd56944675169e406d1a660dd
        containers:
          app:
            image:
              repository: ghcr.io/authelia/authelia
              tag: 4.39.15@sha256:d23ee3c721d465b4749cc58541cda4aebe5aa6f19d7b5ce0afebb44ebee69591
            env:
              AUTHELIA_SERVER_ADDRESS: "tcp://0.0.0.0:80"
              AUTHELIA_SERVER_DISABLE_HEALTHCHECK: "true"
              AUTHELIA_TELEMETRY_METRICS_ADDRESS: tcp://0.0.0.0:8080
              AUTHELIA_TELEMETRY_METRICS_ENABLED: "true"
              AUTHELIA_THEME: dark
              X_AUTHELIA_CONFIG: /config/configuration.yaml
              X_AUTHELIA_CONFIG_FILTERS: expand-env
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api/health
                    port: &port 80
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: true
            resources:
              limits:
                memory: 128Mi
                cpu: 1
              requests:
                cpu: 10m
          anubis:
            image:
              repository: ghcr.io/techarohq/anubis
              tag: v1.24.0@sha256:4bdf6ddd1a8dc8bfe7a33d823a1cb72157885ca4fd3ee749654b21cba732e439
            env:
              ED25519_PRIVATE_KEY_HEX:
                valueFrom:
                  secretKeyRef:
                    name: authelia-secret
                    key: ED25519_PRIVATE_KEY_HEX
              TZ: "America/Los_Angeles"
              BIND: ":8923"
              DIFFICULTY: "3"
              SERVE_ROBOTS_TXT: "true"
              TARGET: "http://localhost:80"
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /healthz
                    port: &anubisPort 8923
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: true
            ports:
              - name: anubis
                containerPort: *anubisPort
            resources:
              limits:
                cpu: 500m
                memory: 256Mi
              requests:
                cpu: 10m
    defaultPodOptions:
      automountServiceAccountToken: false
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
    persistence:
      config:
        type: configMap
        name: authelia-config
        globalMounts:
          - path: /config/configuration.yaml
            subPath: configuration.yaml
            readOnly: true
      tmp:
        type: emptyDir
    route:
      app:
        hostnames:
          - "auth.perryhuynh.com"
        parentRefs:
          - name: envoy-external
            namespace: networking
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: *anubisPort
            filters:
              - type: RequestHeaderModifier
                requestHeaderModifier:
                  add:
                    - name: Cache-Control
                      value: no-store
                    - name: Pragma
                      value: no-cache
                    - name: X-Frame-Options
                      value: SAMEORIGIN
                    - name: X-XSS-Protection
                      value: 1; mode=block
    service:
      app:
        ports:
          http:
            port: *port
          anubis:
            port: *anubisPort
          metrics:
            port: 8080
    serviceMonitor:
      app:
        serviceName: *app
        endpoints:
          - port: metrics
