---
authentication_backend:
  ldap:
    address: ldap://glauth.security.svc.cluster.local:389
    implementation: custom
    timeout: 5s
    start_tls: false
    base_dn: dc=home,dc=arpa
    additional_users_dn: ou=users
    users_filter: (&({username_attribute}={input})(objectClass=posixAccount))
    additional_groups_dn: ou=groups
    groups_filter: (&(memberUid={username})(objectClass=posixGroup))
    group_search_mode: filter
    user: cn=search,ou=svcaccts,dc=home,dc=arpa
    password: password
    attributes:
      username: uid
      display_name: displayName
      mail: mail
      member_of: memberOf
      group_name: cn
  password_reset:
    disable: true
  refresh_interval: 1m

session:
  same_site: lax
  inactivity: 5m
  expiration: 1h
  remember_me: 1M
  cookies:
    - name: perryhuynh_session
      domain: perryhuynh.com
      authelia_url: https://auth.perryhuynh.com
      default_redirection_url: https://perryhuynh.com
  redis:
    database_index: 2
    host: dragonfly.database.svc.cluster.local

notifier:
  disable_startup_check: true
  smtp:
    address: maddy.default.svc.cluster.local:25
    sender: Authelia <authelia@perryhuynh.com>
    disable_require_tls: true

totp:
  disable: false
  issuer: authelia.com

webauthn:
  disable: true

duo_api:
  disable: true

access_control:
  default_policy: two_factor
  networks:
    - name: internal
      networks: ["10.0.0.0/8", "172.16.0.0/12", "192.168.0.0/16"]
  rules: []

identity_providers:
  oidc:
    cors:
      endpoints: ["authorization", "token", "revocation", "introspection"]
      allowed_origins_from_client_redirect_uris: true
    clients:
      - client_id: grafana
        client_name: Grafana
        client_secret: "${GRAFANA_OAUTH_CLIENT_SECRET}"
        public: false
        authorization_policy: two_factor
        pre_configured_consent_duration: 1y
        scopes: ["openid", "profile", "groups", "email"]
        redirect_uris: ["https://grafana.perryhuynh.com/login/generic_oauth"]
        userinfo_signed_response_alg: none
      - client_id: miniflux
        client_name: Miniflux
        client_secret: "${MINIFLUX_OAUTH_CLIENT_SECRET}"
        public: false
        authorization_policy: two_factor
        pre_configured_consent_duration: 1y
        scopes: ["openid", "profile", "groups", "email"]
        redirect_uris: ["https://miniflux.perryhuynh.com/oauth2/oidc/callback"]
        userinfo_signed_response_alg: none
      - client_id: paperless
        client_name: Paperless
        client_secret: "${PAPERLESS_OAUTH_CLIENT_SECRET}"
        public: false
        authorization_policy: two_factor
        pre_configured_consent_duration: 1y
        scopes: ["openid", "profile", "groups", "email"]
        redirect_uris:
          - https://paperless.perryhuynh.com/accounts/oidc/authelia/login/callback/
        userinfo_signed_response_alg: none
