---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: go2rtc
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: go2rtc
  values:
    controllers:
      go2rtc:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/alexxit/go2rtc
              tag: 1.9.14@sha256:675c318b23c06fd862a61d262240c9a63436b4050d177ffc68a32710d9e05bae
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 10
            resources:
              limits:
                memory: 512Mi
              requests:
                cpu: 10m
            securityContext:
              allowPrivilegeEscalation: false
              capabilities:
                drop:
                  - "ALL"
              readOnlyRootFilesystem: true
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
    configMaps:
      config:
        data:
          go2rtc.yaml: |-
            log:
              streams: error # Prevent log spam from UniFi Protect
            api:
              listen: :80
              origin: "*"
            rtsp:
              listen: :554
            webrtc:
              listen: :8555
              candidates:
                - 192.168.1.207:8555
                - stun:8555
              ice_servers:
                - urls:
                    - stun:stun.cloudflare.com:3478
            streams:
              test:
                - rtsps://192.168.1.2:7441/mDvOxfVILAnefqEt
    persistence:
      config:
        type: configMap
        identifier: config
        globalMounts:
          - path: /config/go2rtc.yaml
            subPath: go2rtc.yaml
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.perryhuynh.com"
        parentRefs:
          - name: envoy-internal
            namespace: networking
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: 80
    service:
      app:
        forceRename: "{{ .Release.Name }}"
        primary: true
        ports:
          http:
            port: 80
      streams:
        type: LoadBalancer
        annotations:
          lbipam.cilium.io/ips: 192.168.1.207
        ports:
          streams-rtsp:
            port: 554
          streams-webrtc-tcp:
            port: 8555
            protocol: TCP
          streams-webrtc-udp:
            port: 8555
            protocol: UDP
