---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: onepassword-connect
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: onepassword-connect
  values:
    controllers:
      onepassword-connect:
        strategy: RollingUpdate
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: docker.io/1password/connect-api
              tag: 1.8.1@sha256:8fe7bcd50c9e73899e0a1aa5aa43421ca75fbceacb33dd07f6418c4116e637a1
            env:
              OP_BUS_PEERS: localhost:11221
              OP_BUS_PORT: 11220
              OP_HTTP_PORT: &apiPort 80
            probes:
              liveness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /heartbeat
                    port: *apiPort
                  initialDelaySeconds: 15
                  periodSeconds: 30
                  failureThreshold: 3
              readiness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /health
                    port: *apiPort
                  initialDelaySeconds: 15
          sync:
            image:
              repository: docker.io/1password/connect-sync
              tag: 1.8.1@sha256:d5e937b2b7e314dbbaffacf469dc8f30376b5954a3ad836c8d96e6cb579d7fab
            env:
              OP_BUS_PEERS: localhost:11220
              OP_BUS_PORT: 11221
              OP_HTTP_PORT: &syncPort 8081
            probes:
              liveness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /heartbeat
                    port: *syncPort
                  initialDelaySeconds: 15
                  periodSeconds: 30
                  failureThreshold: 3
              readiness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /health
                    port: *syncPort
                  initialDelaySeconds: 15
        defaultContainerOptionsStrategy: merge
        defaultContainerOptions:
          env:
            OP_SESSION:
              valueFrom:
                secretKeyRef:
                  name: onepassword-connect-secret
                  key: 1password-credentials.json
            XDG_DATA_HOME: /config
          resources:
            limits:
              memory: 64M
            requests:
              cpu: 10m
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            capabilities:
              drop:
                - "ALL"
    defaultPodOptions:
      securityContext:
        runAsUser: 999
        runAsGroup: 999
        runAsNonRoot: true
        fsGroup: 999
        fsGroupChangePolicy: OnRootMismatch
    persistence:
      config:
        enabled: true
        type: emptyDir
    service:
      app:
        controller: onepassword-connect
        ports:
          http:
            port: *apiPort
