---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2beta2.json
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: tachidesk
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.1.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  dependsOn:
    - name: longhorn
      namespace: storage
    - name: volsync
      namespace: volsync-system
  values:
    controllers:
      tachidesk:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/suwayomi/tachidesk
              tag: v1.0.0@sha256:373e7fb21a8ea751cbca63007802af82d717ef691001c94f797281f118bbcfed
            env:
              AUTO_DOWNLOAD_CHAPTERS: true
              BIND_PORT: &port 80
              DEBUG: true
              DOWNLOAD_AS_CBZ: true
              EXTENSION_REPOS: "[\"https://github.com/keiyoushi/extensions/tree/repo\"]"
              JAVA_TOOL_OPTIONS: -XX:+UseG1GC -XX:MaxRAMPercentage=75 -XX:+PrintFlagsFinal
              TZ: &TZ America/Los_Angeles
              WEB_UI_CHANNEL: "preview"
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /manifest.json
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            resources:
              limits:
                memory: 4Gi
              requests:
                cpu: 25m
            securityContext:
              allowPrivilegeEscalation: false
              capabilities: { drop: ["ALL"] }
          codeserver:
            image:
              repository: ghcr.io/coder/code-server
              tag: 4.23.1
            env:
              TZ: *TZ
            args:
              - "/config"
              - --auth
              - "none"
              - --user-data-dir
              - "/config/.vscode"
              - --extensions-dir
              - "/config/.vscode"
            resources:
              limits:
                memory: 256Mi
              requests:
                cpu: 10m
        pod:
          automountServiceAccountToken: false
          securityContext:
            fsGroup: 568
            fsGroupChangePolicy: OnRootMismatch
            runAsGroup: 568
            runAsNonRoot: true
            runAsUser: 568
            seccompProfile: { type: RuntimeDefault }
    ingress:
      nginx:
        enabled: true
        className: internal
        hosts:
          - host: &host "{{ .Release.Name }}.perryhuynh.com"
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
          - host: &codeserverHost "{{ .Release.Name }}-code.perryhuynh.com"
            paths:
              - path: /
                service:
                  identifier: app
                  port: codeserver
        tls:
          - hosts:
              - *host
              - *codeserverHost
    persistence:
      config:
        enabled: true
        existingClaim: tachidesk
        globalMounts:
          - path: /home/suwayomi/.local/share/Tachidesk
      downloads:
        enabled: true
        type: nfs
        path: /mnt/tank/media/downloads/tachidesk
        server: ${SECRET_NAS_IP:=temp}
        globalMounts:
          - path: /home/suwayomi/.local/share/Tachidesk/downloads
      tmp:
        type: emptyDir
    service:
      app:
        controller: tachidesk
        ports:
          http:
            primary: true
            port: *port
          codeserver:
            port: 8080
