---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: qui
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: qui
  values:
    controllers:
      qui:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/autobrr/qui
              tag: v1.13.0@sha256:4a2474980f5abe4fcdc95dc40556a4ce80840c5749eb4e526c529d82ee8a43be
            env:
              QUI__HOST: 0.0.0.0
              QUI__PORT: &port 80
              QUI__LOG_LEVEL: INFO
              TZ: America/Los_Angeles
              # oidc
              QUI__OIDC_ENABLED: true
              QUI__OIDC_ISSUER: https://auth.perryhuynh.com
              QUI__OIDC_REDIRECT_URL: https://qui.perryhuynh.com/api/auth/oidc/callback
              QUI__OIDC_DISABLE_BUILT_IN_LOGIN: true
            envFrom:
              - secretRef:
                  name: "{{ .Release.Name }}-secret"
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /health
                    port: *port
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: true
            resources:
              limits:
                memory: 512Mi
              requests:
                cpu: 10m
            securityContext:
              allowPrivilegeEscalation: false
              capabilities:
                drop:
                  - "ALL"
              readOnlyRootFilesystem: true
    defaultPodOptions:
      automountServiceAccountToken: false
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    persistence:
      config:
        existingClaim: "{{ .Release.Name }}"
      downloads:
        type: nfs
        path: /mnt/tank/media
        server: nas.home.arpa
        globalMounts:
          - path: /downloads
            subPath: downloads/torrents
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.perryhuynh.com"
          - "qbittorrent.perryhuynh.com"
        parentRefs:
          - name: envoy-internal
            namespace: networking
            sectionName: https
    service:
      app:
        ports:
          http:
            port: *port
