---
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-production
spec:
  acme:
    profile: shortlived
    server: https://acme-v02.api.letsencrypt.org/directory
    email: "perry@perryhuynh.com"
    privateKeySecretRef:
      name: letsencrypt-production
    solvers:
      - dns01:
          cloudflare:
            apiTokenSecretRef:
              name: cert-manager-secret
              key: api_key
        selector:
          dnsZones:
            - "perry.cafe"
            - "perryhuynh.com"
---
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-staging
spec:
  acme:
    profile: shortlived
    server: https://acme-staging-v02.api.letsencrypt.org/directory
    email: "perry@perryhuynh.com"
    privateKeySecretRef:
      name: letsencrypt-staging
    solvers:
      - dns01:
          cloudflare:
            apiTokenSecretRef:
              name: cert-manager-secret
              key: api_key
        selector:
          dnsZones:
            - "perry.cafe"
            - "perryhuynh.com"
