---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2beta2.json
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: plex
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.0.4
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  dependsOn:
    - name: intel-device-plugin-gpu
      namespace: kube-system
    - name: longhorn
      namespace: storage
    - name: volsync
      namespace: volsync-system
  values:
    controllers:
      plex:
        containers:
          app:
            image:
              repository: ghcr.io/onedr0p/plex
              tag: 1.40.1.8227-c0dd5a73e@sha256:4ca8db0ffa1bee5a2976a0385cc43368112e81a2485b80d0fff3b04c9d5bd1ca
            env:
              PLEX_ADVERTISE_URL: https://plex.perryhuynh.com:443,https://192.168.1.251:32400
              PLEX_NO_AUTH_NETWORKS: 192.168.1.0/24
              TZ: America/Los_Angeles
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /identity
                    port: &port 32400
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            resources:
              limits:
                gpu.intel.com/i915: 1
                memory: 16Gi
              requests:
                cpu: 250m
            securityContext:
              allowPrivilegeEscalation: false
              capabilities: { drop: ["ALL"] }
              readOnlyRootFilesystem: true
        pod:
          affinity:
            podAntiAffinity:
              requiredDuringSchedulingIgnoredDuringExecution:
                - labelSelector:
                    matchExpressions:
                      - key: app.kubernetes.io/name
                        operator: In
                        values: ["scrypted"]
                  topologyKey: kubernetes.io/hostname
          automountServiceAccountToken: false
          nodeSelector:
            intel.feature.node.kubernetes.io/gpu: 'true'
          securityContext:
            fsGroup: 568
            fsGroupChangePolicy: OnRootMismatch
            runAsGroup: 568
            runAsNonRoot: true
            runAsUser: 568
            seccompProfile: { type: RuntimeDefault }
            supplementalGroups: [44, 105, 65532]
    persistence:
      config:
        enabled: true
        existingClaim: plex
      cache:
        existingClaim: plex-cache
        globalMounts:
          - path: /config/Library/Application Support/Plex Media Server/Cache
      data:
        type: nfs
        path: /mnt/tank/media/library
        server: ${SECRET_NAS_IP:=temp}
        globalMounts:
          - path: /data
            readOnly: true
      logs:
        type: emptyDir
        globalMounts:
          - path: /config/Library/Application Support/Plex Media Server/Logs
      profile-chromecast:
        type: configMap
        name: plex-config
        defaultMode: 0775
        globalMounts:
          - path: /usr/lib/plexmediaserver/Resources/Profiles/Chromecast.xml
            readOnly: true
            subPath: Chromecast.xml
      tmp:
        type: emptyDir
      transcode:
        type: emptyDir
    ingress:
      nginx:
        annotations:
          external-dns.alpha.kubernetes.io/target: "external.perryhuynh.com"
          nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
        enabled: true
        className: external
        hosts:
          - host: &host "{{ .Release.Name }}.perryhuynh.com"
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
        tls:
          - hosts:
              - *host
    service:
      app:
        type: LoadBalancer
        controller: plex
        annotations:
          io.cilium/lb-ipam-ips: 192.168.1.251
        ports:
          http:
            port: *port
