---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: paperless-secret
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    deletionPolicy: Delete
    template:
      engineVersion: v2
      data:
        INIT_POSTGRES_DBNAME: &dbName paperless
        INIT_POSTGRES_HOST: &dbHost postgres16-rw.database.svc.cluster.local
        INIT_POSTGRES_USER: &dbUser "{{ .PAPERLESS_POSTGRES_USER }}"
        INIT_POSTGRES_PASS: &dbPass "{{ .PAPERLESS_POSTGRES_PASS }}"
        INIT_POSTGRES_SUPER_PASS: "{{ .POSTGRES_SUPER_PASS }}"
        PAPERLESS_DBHOST: *dbHost
        PAPERLESS_DBNAME: *dbName
        PAPERLESS_DBUSER: *dbUser
        PAPERLESS_DBPASS: *dbPass
        PAPERLESS_SECRET_KEY: "{{ .PAPERLESS_SECRET_KEY }}"
  dataFrom:
    - extract:
        key: cloudnative-pg
    - extract:
        key: paperless
