---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: longhorn
spec:
  interval: 30m
  chart:
    spec:
      chart: longhorn
      version: 1.5.3
      sourceRef:
        kind: HelmRepository
        name: longhorn
        namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    defaultSettings:
      backupTarget: s3://swear-capitol-ferris-gently@us-west-004/
      backupTargetCredentialSecret: longhorn-secret
      backupstorePollInterval: 0
      concurrentAutomaticEngineUpgradePerNodeLimit: 3
      defaultDataPath: /var/lib/rancher/k3s/longhorn
      defaultLonghornStaticStorageClass: longhorn
      defaultReplicaCount: 3
      guaranteedEngineManagerCPU: 20
      guaranteedReplicaManagerCPU: 20
      nodeDownPodDeletionPolicy: delete-both-statefulset-and-deployment-pod
      orphanAutoDeletion: true
      restoreVolumeRecurringJobs: true
      storageMinimalAvailablePercentage: 10
      storageOverProvisioningPercentage: 200
    ingress:
      enabled: true
      ingressClassName: internal
      host: longhorn.perryhuynh.com
      tls: true
