---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app smartctl-exporter
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: prometheus-smartctl-exporter
  values:
    fullnameOverride: *app
    resources:
      limits:
        memory: 64Mi
      requests:
        cpu: 10m
    prometheusRules:
      enabled: false
    serviceMonitor:
      enabled: true
