---
# yaml-language-server: $schema=https://kubernetes-schemas.perry.cafe/source.toolkit.fluxcd.io/gitrepository_v1.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: GitRepository
metadata:
  name: dragonfly-crd
spec:
  interval: 30m
  url: https://github.com/dragonflydb/dragonfly-operator
  ref:
    tag: v1.4.0
  ignore: |
    # exclude
    /*
    # include
    !manifests/crd.yaml
---
# yaml-language-server: $schema=https://kubernetes-schemas.perry.cafe/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: dragonfly-crd
spec:
  prune: true
  sourceRef:
    kind: GitRepository
    name: dragonfly-crd
  wait: true
  interval: 15m
  retryInterval: 1m
  timeout: 5m
