---
# yaml-language-server: $schema=https://kubernetes-schemas.perry.cafe/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app dragonfly-operator
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: dragonfly-operator
  values:
    controllers:
      dragonfly-operator:
        replicas: 1
        strategy: RollingUpdate
        containers:
          app:
            image:
              repository: ghcr.io/dragonflydb/operator
              tag: v1.4.0@sha256:b6ceebe49d4687a4fc3e485724a0cfcf0ca2dfba1d5508375543b8db46a66fc1
            command:
              - "/manager"
            args:
              - --health-probe-bind-address=:8081
              - --metrics-bind-address=:8080
            probes:
              liveness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /healthz
                    port: &port 8081
                  initialDelaySeconds: 15
                  periodSeconds: 20
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /readyz
                    port: *port
                  initialDelaySeconds: 5
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              startup:
                enabled: true
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 128Mi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
        pod:
          securityContext:
            runAsUser: 65534
            runAsGroup: 65534
            runAsNonRoot: true
          topologySpreadConstraints:
            - maxSkew: 1
              topologyKey: kubernetes.io/hostname
              whenUnsatisfiable: DoNotSchedule
              labelSelector:
                matchLabels:
                  app.kubernetes.io/name: *app
        serviceAccount:
          identifier: *app
    rbac:
      roles:
        dragonfly-operator:
          type: ClusterRole
          rules:
            - apiGroups:
                - "coordination.k8s.io"
              resources:
                - "leases"
              verbs:
                - "get"
                - "list"
                - "watch"
                - "create"
                - "update"
                - "patch"
                - "delete"
            - apiGroups:
                - ""
              resources:
                - "events"
              verbs:
                - "create"
                - "patch"
            - apiGroups:
                - ""
              resources:
                - "pods"
                - "services"
              verbs:
                - "create"
                - "delete"
                - "get"
                - "list"
                - "patch"
                - "update"
                - "watch"
            - apiGroups:
                - "apps"
              resources:
                - "statefulsets"
              verbs:
                - "create"
                - "delete"
                - "get"
                - "list"
                - "patch"
                - "update"
                - "watch"
            - apiGroups:
                - "policy"
              resources:
                - "poddisruptionbudgets"
              verbs:
                - "create"
                - "delete"
                - "get"
                - "list"
                - "patch"
                - "update"
                - "watch"
            - apiGroups:
                - "dragonflydb.io"
              resources:
                - "dragonflies"
              verbs:
                - "create"
                - "delete"
                - "get"
                - "list"
                - "patch"
                - "update"
                - "watch"
            - apiGroups:
                - "dragonflydb.io"
              resources:
                - "dragonflies/finalizers"
              verbs:
                - "update"
            - apiGroups:
                - "dragonflydb.io"
              resources:
                - "dragonflies/status"
              verbs:
                - "get"
                - "patch"
                - "update"
      bindings:
        dragonfly-operator:
          type: ClusterRoleBinding
          roleRef:
            identifier: *app
          subjects:
            - identifier: *app
    service:
      app:
        ports:
          http:
            port: *port
            primary: true
          metrics:
            port: 8080
    serviceMonitor:
      app:
        endpoints:
          - port: metrics
            scheme: http
            path: /metrics
            interval: 1m
            scrapeTimeout: 10s
    serviceAccount:
      dragonfly-operator: {}
