---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2beta2.json
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: graphite-exporter
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.0.4
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  dependsOn:
    - name: kube-prometheus-stack
      namespace: monitoring
  values:
    controllers:
      graphite-exporter:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            args:
              - "--graphite.mapping-config=/tmp/graphite_mapping.conf"
              - "--graphite.listen-address=:2003"
              # - "--log.level=debug"
            image:
              repository: docker.io/prom/graphite-exporter
              tag: v0.15.0
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
            resources:
              limits:
                memory: 128Mi
              requests:
                cpu: 10m
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
        pod:
          securityContext:
            runAsUser: 568
            runAsGroup: 568
            runAsNonRoot: true
        replicas: 2
        strategy: RollingUpdate
    persistence:
      graphite-mapping:
        type: configMap
        name: graphite-exporter-config
        globalMounts:
          - path: /tmp/graphite_mapping.conf
            subPath: graphite_mapping.conf
            readOnly: true
    service:
      app:
        controller: graphite-exporter
        type: LoadBalancer
        annotations:
          io.cilium/lb-ipam-ips: 192.168.1.205
        ports:
          graphite-tcp:
            protocol: TCP
            port: 2003
            primary: true
          graphite-udp:
            protocol: UDP
            port: 2003
          metrics:
            port: 9108
    serviceMonitor:
      app:
        serviceName: graphite-exporter
        endpoints:
          - port: metrics
            scheme: http
            path: /metrics
            interval: 1m
            scrapeTimeout: 10s
