---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: imagemaid
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: imagemaid
  values:
    controllers:
      imagemaid:
        annotations:
          reloader.stakater.com/auto: "true"
        type: cronjob
        cronjob:
          schedule: "@weekly"
          backoffLimit: 0
          concurrencyPolicy: Forbid
          failedJobsHistory: 1
          successfulJobsHistory: 0
          timeZone: "America/Los_Angeles"
        containers:
          app:
            image:
              repository: docker.io/kometateam/imagemaid
              tag: v1.1.1@sha256:fbec331b36c1473f8a9c4214f55e5b097860476c8a5274eb61a2b85df89e56cc
            env:
              PLEX_URL: http://plex.media.svc.cluster.local:32400
              PLEX_PATH: /data/Library/Application Support/Plex Media Server
              LOG_REQUESTS: true
              MODE: remove
              PHOTO_TRANSCODER: true
            envFrom:
              - secretRef:
                  name: imagemaid
            resources:
              limits:
                memory: 1Gi
              requests:
                cpu: 10m
            securityContext:
              allowPrivilegeEscalation: false
              capabilities: {drop: ["ALL"]}
              readOnlyRootFilesystem: true
        pod:
          affinity:
            podAffinity:
              requiredDuringSchedulingIgnoredDuringExecution:
                - labelSelector:
                    matchExpressions:
                      - key: app.kubernetes.io/name
                        operator: In
                        values:
                          - plex
                  topologyKey: kubernetes.io/hostname
          automountServiceAccountToken: false
          securityContext:
            runAsNonRoot: true
            runAsUser: 1000
            runAsGroup: 1000
    persistence:
      config:
        type: emptyDir
      plex-config:
        existingClaim: plex
        globalMounts:
          - path: /data
      plex-cache:
        existingClaim: plex-cache
        globalMounts:
          - path: /data/Library/Application Support/Plex Media Server/Cache
