---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: tqm
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: tqm
  values:
    controllers:
      tqm:
        type: cronjob
        cronjob:
          schedule: "@hourly"
          timeZone: America/Los_Angeles
          concurrencyPolicy: Forbid
          successfulJobsHistory: 0
          failedJobsHistory: 1
        defaultContainerOptions:
          image:
            repository: ghcr.io/home-operations/tqm
            tag: 1.19.0@sha256:087ee302bdde9d2033be4026856433b6241a3a11ca9e9f810620abe6a3d99db8
          resources:
            limits:
              memory: 1Gi
            requests:
              cpu: 10m
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - "ALL"
            readOnlyRootFilesystem: true
        initContainers:
          retag:
            args:
              - "retag"
              - "qb"
        containers:
          clean:
            args:
              - "clean"
              - "qb"
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
    persistence:
      config:
        type: emptyDir
        globalMounts:
          - path: /.config/tqm
      config-file:
        type: secret
        name: tqm-config-secret
        globalMounts:
          - path: /.config/tqm/config.yaml
            subPath: config.yaml
            readOnly: true
      downloads:
        type: nfs
        path: /mnt/tank/media
        server: nas.home.arpa
        globalMounts:
          - path: /downloads
            subPath: downloads/torrents
            readOnly: true
