---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: teslamate-secret
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    deletionPolicy: Delete
    template:
      engineVersion: v2
      data:
        DATABASE_NAME: &dbName teslamate
        DATABASE_USER: &dbUser "{{ .TESLAMATE_POSTGRES_USER }}"
        DATABASE_PASS: &dbPass "{{ .TESLAMATE_POSTGRES_PASS }}"
        ENCRYPTION_KEY: "{{ .ENCRYPTION_KEY }}"
        INIT_POSTGRES_DBNAME: *dbName
        INIT_POSTGRES_HOST: postgres16-rw.database.svc.cluster.local
        INIT_POSTGRES_USER: *dbUser
        INIT_POSTGRES_PASS: *dbPass
        INIT_POSTGRES_SUPER_PASS: "{{ .POSTGRES_SUPER_PASS }}"
        MQTT_USERNAME: "{{ .MOSQUITTO_MQTT_USERNAME }}"
        MQTT_PASSWORD: "{{ .MOSQUITTO_MQTT_PASSWORD }}"
  dataFrom:
    - extract:
        key: cloudnative-pg
    - extract:
        key: teslamate
    - extract:
        key: mosquitto
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: teslamate-datasource-secret
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    deletionPolicy: Delete
    template:
      engineVersion: v2
      templateFrom:
        - configMap:
            name: teslamate-datasource-tpl
            items:
              - key: datasource.yaml
      metadata:
        labels:
          grafana_datasource: "1"
  dataFrom:
    - extract:
        key: teslamate
