---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: lidarr-secret
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    deletionPolicy: Delete
    template:
      engineVersion: v2
      data:
        PUSHOVER_TOKEN: "{{ .PUSHOVER_TOKEN }}"
        PUSHOVER_USER_KEY: "{{ .PUSHOVER_USER_KEY }}"
        LIDARR__API_KEY: "{{ .LIDARR_API_KEY }}"
        LIDARR__POSTGRES_HOST: &dbHost postgres16-rw.database.svc.cluster.local
        LIDARR__POSTGRES_PORT: "5432"
        LIDARR__POSTGRES_USER: &dbUser "{{ .LIDARR_POSTGRES_USER }}"
        LIDARR__POSTGRES_PASSWORD: &dbPass "{{ .LIDARR_POSTGRES_PASS }}"
        LIDARR__POSTGRES_MAIN_DB: lidarr_main
        LIDARR__POSTGRES_LOG_DB: lidarr_log
        INIT_POSTGRES_DBNAME: lidarr_main lidarr_log
        INIT_POSTGRES_HOST: *dbHost
        INIT_POSTGRES_USER: *dbUser
        INIT_POSTGRES_PASS: *dbPass
        INIT_POSTGRES_SUPER_PASS: "{{ .POSTGRES_SUPER_PASS }}"
  dataFrom:
    - extract:
        key: cloudnative-pg
    - extract:
        key: lidarr
    - extract:
        key: pushover
