---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2beta2.json
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: overseerr-exporter
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.0.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  dependsOn:
    - name: overseerr
      namespace: media
  values:
    controllers:
      overseerr-exporter:
        containers:
          app:
            args:
              - --overseerr.address
              - http://overseerr.media.svc.cluster.local
              - --overseerr.api-key
              - $(OVERSEERR_API_KEY)
            envFrom:
              - secretRef:
                  name: overseerr-exporter-secret
            image:
              repository: ghcr.io/perryhuynh/overseerr-exporter
              tag: 1.2.2@sha256:513344d7912c1a9df146e4c39ad60d2f3099d8bb8124bbaa5efed96106a9efcd
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
            resources:
              limits:
                memory: 128Mi
              requests:
                cpu: 5m
            securityContext:
              allowPrivilegeEscalation: false
              capabilities: { drop: ["ALL"] }
              readOnlyRootFilesystem: true
        pod:
          automountServiceAccountToken: false
          securityContext:
            runAsGroup: 568
            runAsNonRoot: true
            runAsUser: 568
            seccompProfile: { type: RuntimeDefault }
    service:
      app:
        controller: overseerr-exporter
        ports:
          http:
            port: 9850
    serviceMonitor:
      app:
        serviceName: overseerr-exporter
        endpoints:
          - port: http
            scheme: http
            path: /metrics
            interval: 5m
            scrapeTimeout: 30s
