---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: plex-auto-languages
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: plex-auto-languages
  values:
    controllers:
      plex-auto-languages:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/journeydocker/plex-auto-languages
              tag: 1.3.15@sha256:ba3818e20c45041d2751638620f16f1fc83d1d1f11a700ac2cf8becf5343aa44
            env:
              PLEX_URL: http://plex.media.svc.cluster.local:32400
              REFRESH_LIBRARY_ON_SCAN: false
            envFrom:
              - secretRef:
                  name: plex-auto-languages-secret
            resources:
              limits:
                memory: 1Gi
              requests:
                cpu: 10m
            securityContext:
              allowPrivilegeEscalation: false
              capabilities: {drop: ["ALL"]}
              readOnlyRootFilesystem: true
        pod:
          automountServiceAccountToken: false
          securityContext:
            runAsNonRoot: true
            runAsUser: 1000
            runAsGroup: 1000
    persistence:
      cache:
        type: emptyDir
        globalMounts:
          - path: /config/cache
